<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.ares.ares</string>
  <key>CFBundleDisplayName</key>
  <string>ares</string>
  <key>CFBundleExecutable</key>
  <string>ares</string>
  <key>CFBundleIconFile</key>
  <string>ares.icns</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>*</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>DocumentType</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
     </dict>
  </array>
</dict>
</plist>
