name: Build (Primary)
on:
  workflow_call:
    inputs:
      codesign:
        description: Enable codesigning
        required: false
        default: false
        type: boolean
      official:
        description: Use official version strings
        required: true
        default: true
        type: boolean
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        program:
        - ares
        config:
        - RelWithDebInfo
        platform:
        - name: windows-x64
          os: windows-latest
          compiler: clang++
          shell: 'msys2 {0}'
          msystem: clang64
          install: make git cmake ccache ninja mingw-w64-clang-x86_64-clang
          target-cmake-preset: windows-ci-mingw-native
        - name: windows-clang-cl-arm64
          os: windows-latest
          windres: rc
          shell: bash
          target-cmake-preset: windows-ci-cl-cross
          native-cmake-preset: windows-ci-cl-native
        - name: macos-universal
          os: macos-15
          compiler: clang++
          shell: sh
          install: cmake ccache xcbeautify
          target-cmake-preset: macos-ci-universal
    name: ${{ matrix.program }}-${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    steps:
    - name: Install MSYS2 Dependencies
      if: matrix.platform.shell == 'msys2 {0}'
      uses: msys2/setup-msys2@40677d36a502eb2cf0fb808cc9dec31bf6152638
      with:
        msystem: ${{ matrix.platform.msystem }}
        install: ${{ matrix.platform.install }}
    - name: "macOS: Import Certificate"
      if: runner.os == 'macOS' && inputs.codesign
      uses: apple-actions/import-codesign-certs@65cfbc37e1464d733524cb555b724878f278b8c3
      continue-on-error: ${{ secrets.MACOS_CERTIFICATE_NAME == '' }}
      with:
        p12-file-base64: ${{ secrets.MACOS_CERTIFICATE_DATA }}
        p12-password: ${{ secrets.MACOS_CERTIFICATE_PASSPHRASE }}
    - name: Checkout source code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      with:
        fetch-tags: true
        fetch-depth: 0
    - name: Setup MSYS2 Git Environment
      if: matrix.platform.shell == 'msys2 {0}'
      run: |
        git config core.autocrlf true
    - name: Install Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install ${{ matrix.platform.install }}
    - name: Install macOS Dependencies
      if: runner.os == 'macOS'
      run: |
        brew uninstall --ignore-dependencies cmake
        brew install ${{ matrix.platform.install }}
    - name: "Build: Windows"
      if: runner.os != 'macOS' && runner.os != 'Linux'
      run: .github/scripts/build_windows.sh
      env:
        ARES_BUILD_OFFICIAL: ${{ inputs.official }}
        ARES_PLATFORM_NAME: ${{ matrix.platform.name }}
        CROSS_COMPILE: ${{ matrix.platform.native-cmake-preset != '' }}
        NATIVE_PRESET: ${{ matrix.platform.native-cmake-preset }}
        TARGET_PRESET: ${{ matrix.platform.target-cmake-preset }}
    - name: "Windows: sign"
      if: runner.os == 'Windows' && inputs.codesign
      continue-on-error: true
      uses: DanaBear/code-sign-action@98c79121b376beab8d6a9484f445089db4461bca
      with:
        certificate: '${{ secrets.WIN_CERTIFICATE }}'
        password: '${{ secrets.WIN_PASSWORD }}'
        certificatesha1: '${{ secrets.WIN_CERTHASH }}'
        certificatename: '${{ secrets.WIN_CERTNAME }}'
        folder: 'build/desktop-ui/rundir/'
        timestampUrl: 'http://timestamp.digicert.com'
    - name: "Build: macOS"
      if: runner.os == 'macOS'
      run: .github/scripts/build_macos.sh
      env:
        ARES_BUILD_OFFICIAL: ${{ inputs.official }}
        TARGET_PRESET: ${{ matrix.platform.target-cmake-preset }}
        MACOS_CERTIFICATE_NAME: ${{ secrets.MACOS_CERTIFICATE_NAME }}
        MACOS_NOTARIZATION_TEAMID: ${{ secrets.MACOS_NOTARIZATION_TEAMID }}
    - name: "Compress Build Artifact (macOS)"
      if: runner.os == 'macOS'
      run: |
        tar -cvJf ares-${{ matrix.platform.name }}.tar.xz -C build/desktop-ui/RelWithDebInfo/ .
    - name: "Compress Build Artifacts (Windows)"
      if: runner.os != 'macOS' && runner.os != 'Linux'
      run: |
        tar -cvJf ares-${{ matrix.platform.name }}.tar.xz -C build/desktop-ui/rundir/ .
    - name: Upload Build
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
      with:
        name: ${{ matrix.program }}-${{ matrix.platform.name }}
        path: ares-${{ matrix.platform.name }}.tar.xz
    - name: Upload Debug Symbols (Windows)
      if: runner.os != 'macOS' && runner.os != 'Linux'
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
      with:
        name: ${{ matrix.program }}-${{ matrix.platform.name }}-PDBs
        path: build/PDBs/*
    - name: Upload Debug Symbols (macOS)
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
      with:
        name: ${{ matrix.program }}-${{ matrix.platform.name }}-dSYMs
        path: build/dSYMs/*
